* {
    margin: 0;
    padding: 0;
}

/* Dev */
header,
header * {
    outline: 1px lightpink;
}

/* Dep */
header,
header * {
    width: 100%;

    & nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;

        & h1 {
            font-size: xx-large;
        }

        & button {
            border: none;
            background: none;
            font-size: medium;
            font-weight: 600;
            color: rgb(82, 82,82);
            transition: .3s ease-in-out;

       &:hover {
        color: rgb(241, 123, 202);
       }
        }
    }
}
